src/main/resources/xsd/vehicles.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.sandark.io/vehiclews"
           xmlns:tns="http://www.sandark.io/vehiclews">

    <xs:element name="createVehicleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vehicle" type="tns:vehicle" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createVehicleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vehicle" type="tns:vehicle" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="findVehicleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="findVehicleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vehicle" type="tns:vehicle" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="vehicle">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="brand"/>
            <xs:element type="xs:string" name="color" minOccurs="0"/>
            <xs:element type="xs:dateTime" name="creationDate" minOccurs="0"/>
            <xs:element name="manufacturedCountry" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="model" minOccurs="0"/>
            <xs:element name="plateCountry" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="plateNumber"/>
            <xs:element name="vehicleType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SEDAN"/>
                        <xs:enumeration value="HATCHBACK"/>
                        <xs:enumeration value="MINIVAN"/>
                        <xs:enumeration value="COUPE"/>
                        <xs:enumeration value="SUV"/>
                        <xs:enumeration value="BUS"/>
                        <xs:enumeration value="TRUCK"/>
                        <xs:enumeration value="MOTORCYCLE"/>
                        <xs:enumeration value="TRAILER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="vin"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>